    /*@media (orientation: portrait)*/
    @media(max-width: 768px)
    {
        body
        {
            background-color: rgb(147, 154, 161);
        }

        #canvas
        {
            margin-top: 1vh;
            /*width: 100vw;
            height: 300px;*/
            box-shadow: 3px 6px 6px 5px #000000b6;
            /*background-color: white;*/
        }

        .canvas-holder
        {   
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #container-header
        {
            width:100%;
            height: 20vw;
            background-color: #F8F9F9;
            display: flex;
        }
    
        .brd
        {
            width: 20vw;
            height: 20vw;
            background-color: #EBF5FB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .img-center
        {
            width: 8vw;
            height: 8vw;
            margin-top: 2vw;
        }
    
        .circle
        {
            margin-top: 2vw;
            width: 8vw;
            height: 8vw;
            border-radius: 100%;
            background-color: #f3e140;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #padding-dots
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 7vw;
            height: 7vw;
        }
    
        .btn-tools
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        /*
        .container-sm-3:not(#col-1 > div)
        {
            border: 1px solid #AED6F1;
            margin-top: 10%;
        }
        */
    
        .btn-dropdown
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
            width: 20vw;
            
        }
    
        .brushes-in-menu
        {
            width: 7vh;
        }
    
        .dropdown-menu 
        {
            min-width: 10px;
            margin-left: 5%;
            background-color: #EBF5FB;
        }
    
        .btn-bruhes
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .btn-all-sizes
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
        }
    
        .sizes-in-menu
        {
            width: 7vh;
        }
    
        .btn-sizes
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .btn-all-colors
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
        }
    
        .colors-in-menu
        {
            width: 7vh;
        }
    
        .btn-colors
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .dots-menu
        {
            width: 22vw;
            height: auto;
        }
    
        .btn-center
        {
            display: block;
            margin-left: 2vw;
            margin-right: 5vw;
            width: 11vh;
        }
    
        .icons
        {
            border: none;
            width: 12vw;
            height: 12vw;
        }
    
        .icons:hover
        {
            background-color: #D6EAF8;
            border: 1px solid #AED6F1;
        }
    
        .items-more
        {
            margin: 7%;
            font-weight: bold;
        }
    
        .items-more:hover
        {
            color: #AED6F1;
        }
    
        #dropdown-colors
        {
            width: 63vw;
            height: 34vw;
        } 
    
        .open>.dropdown-menu 
        {
            display: block;
        }
    
        .color-box
        {
            border: 2px solid white;
            padding: 11px;
            margin: 7px;
            padding-top: 0px;
            padding-bottom: 8px;
            margin-left: 4px;
            display: inline;
        }

        .color-box:hover
        {
            border: 2px solid #AED6F1;
        }

        .color-picker {
            min-width: 8vw;
            max-width: 8vw;
            min-height: 8vw;
            max-height: 8vw;
        }
    
        #black
        {
            background-color: black;
        }
    
        #gray
        {
            background-color: gray;
        }
    
        #dark-red
        {
            background-color: darkred;
        }
    
        #red
        {
            background-color: red;
        }
    
        #orange
        {
            background-color: orange;
        }
    
        #yellow
        {
            background-color: yellow;
        }
    
        #empty
        {
            border: none;
        }
    
        #white
        {
            background-color: white;
        }
    
        #purple
        {
            background-color: purple;
        }
    
        #dark-blue
        {
            background-color: darkblue;
        }
    
        #blue
        {
            background-color: blue;
        }
    
        #green
        {
            background-color: #008000;
        }
    }


    @media(min-width: 768px)
    {
        body
        {
            background-color: rgb(147, 154, 161);
        }

        #canvas
        {
            margin-top: 1vw;
            /*width: 300px;
            height: 300px;*/
            box-shadow: 3px 6px 6px 5px #000000b6;
            background-color: white;
        }

        .canvas-holder
        {   
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #container-header
        {
            width: 100%;
            height: 10vw;
            background-color: #F8F9F9;
            display: flex;
        }
    
        .brd
        {
            width: 10vw;
            height: 10vw;
            background-color: #EBF5FB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .img-center
        {
            width: 6vw;
            height: 6vw;
            margin-top: 2vw;
        }
    
        .circle
        {
            margin-top: 2vw;
            min-width: 6vw;
            min-height: 6vw;
            border-radius: 100%;
            background-color: #f3e140;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #padding-dots
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 5vw;
            height: 5vw;
        }
    
        .btn-tools
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        /*
        .container-sm-3:not(#col-1 > div)
        {
            border: 1px solid #AED6F1;
            margin-top: 10%;
        }
        */
    
        .btn-dropdown
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
            width: 20vw;
            
        }
    
        .brushes-in-menu
        {
            width: 7vh;
        }
    
        .dropdown-menu 
        {
            min-width: 10px;
            margin-left: 5%;
            background-color: #EBF5FB;
        }
    
        .btn-bruhes
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .btn-all-sizes
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
        }
    
        .sizes-in-menu
        {
            width: 7vh;
        }
    
        .btn-sizes
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .btn-all-colors
        {
            border: none;
            background-color: #EBF5FB;
            margin-top: 2vh;
        }
    
        .colors-in-menu
        {
            width: 7vh;
        }
    
        .btn-colors
        {
            background: none;
            color: inherit;
            border: none;
        }
    
        .dots-menu
        {
            width: 22vw;
            height: auto;
        }
    
        .btn-center
        {
            display: block;
            margin-left: 2vw;
            margin-right: 5vw;
            width: 11vh;
        }
    
        .icons
        {
            border: none;
            width: 12vw;
            height: 12vw;
        }
    
        .icons:hover
        {
            background-color: #D6EAF8;
            border: 1px solid #AED6F1;
        }
    
        .items-more
        {
            margin: 7%;
            font-weight: bold;
        }
    
        .items-more:hover
        {
            color: #AED6F1;
        }
    
        #dropdown-colors
        {
            width: 63vw;
            height: 34vw;
        } 
    
        .open>.dropdown-menu 
        {
            display: block;
        }
    
        .color-box
        {
            border: 2px solid white;
            padding: 11px;
            margin: 7px;
            padding-top: 0px;
            padding-bottom: 8px;
            margin-left: 4px;
            display: inline;
        }

        .color-picker {
            min-width: 3vw;
            max-width: 3vw;
            min-height: 3vw;
            max-height: 3vw;
        }
        
        .color-box:hover
        {
            border: 2px solid #AED6F1;
        }
    
        #black
        {
            background-color: black;
        }
    
        #gray
        {
            background-color: #808080;
        }
    
        #dark-red
        {
            background-color: #8b0000;
        }
    
        #red
        {
            background-color: red;
        }
    
        #orange
        {
            background-color: #ffa500;
        }
    
        #yellow
        {
            background-color: #ffff00;
        }
    
        #empty
        {
            border: none;
        }
    
        #white
        {
            background-color: white;
        }
    
        #purple
        {
            background-color: #800080;
        }
    
        #dark-blue
        {
            background-color: #00008b;
        }
    
        #blue
        {
            background-color: blue;
        }
    
        #green
        {
            background-color: green;
        }
    }