@media(max-width: 768px)
{
    #container-header
    {
        width:100%;
        height: 15vh;
        background-color: #F8F9F9;
    }

    .arrow
    {
        -webkit-appearance: none;
        margin-left: 10%;
        border: none;
        background-color: inherit;
    }

    .arrow:hover
    {
        border: 1px solid #AED6F1;
        background-color: #D6EAF8;
    }

    .padding-0
    {
        padding-right: 0;
        padding-top: 5vh;
    }

    .container-sm-6
    {
        width: 0;
    }

    #col-1
    {
        padding-left: 7%;
        background-color: #EBF5FB;
        border: 1px solid #AED6F1;
    }

    .row
    {
        height: 15vh;
    }

    .brd
    {
        background-color: #EBF5FB;
        border: 1px solid #AED6F1;
    }

    .container-sm-2:not(#col-1 > div)
    {
        margin-top: 10%;
    }

    .img-center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8vh;
        height: 8vh;
        padding: 4%;
        border: 1px solid #AED6F1;
    }

    #padding-dots
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8vh;
        height: 8vh;
        border: 1px solid #AED6F1;
        padding: 3%;
    }

    .btn-all-tools
    {
        border: none;
        background-color: #EBF5FB;
        margin-top: 2vh;
    }

    .tools-in-menu
    {
        width: 7vh;
    }

    .dropdown-menu 
    {
        min-width: 10px;
        margin-left: 5%;
        background-color: #EBF5FB;
    }

    .btn-tools
    {
        background: none;
        color: inherit;
        border: none;
    }

    .container-sm-3:not(#col-1 > div)
    {
        border: 1px solid #AED6F1;
        margin-top: 10%;
    }

    .btn-all-brushes
    {
        border: none;
        background-color: #EBF5FB;
        margin-top: 2vh;
    }

    .brushes-in-menu
    {
        width: 7vh;
    }

    .dropdown-menu 
    {
        min-width: 10px;
        margin-left: 5%;
        background-color: #EBF5FB;
    }

    .btn-bruhes
    {
        background: none;
        color: inherit;
        border: none;
    }

    .btn-all-sizes
    {
        border: none;
        background-color: #EBF5FB;
        margin-top: 2vh;
    }

    .sizes-in-menu
    {
        width: 7vh;
    }

    .btn-sizes
    {
        background: none;
        color: inherit;
        border: none;
    }

    .btn-all-colors
    {
        border: none;
        background-color: #EBF5FB;
        margin-top: 2vh;
    }

    .colors-in-menu
    {
        width: 7vh;
    }

    .btn-colors
    {
        background: none;
        color: inherit;
        border: none;
    }

    .dots-menu
    {
        width: 22vw;
        height: 16vh;
    }

    .btn-center
    {
        display: block;
        margin-left: 2vw;
        margin-right: 5vw;
        width: 11vh;
    }

    .icons
    {
        border: none;
        width: 12vw;
        height: 12vw;
    }

    .icons:hover
    {
        background-color: #D6EAF8;
        border: 1px solid #AED6F1;
    }

    .items-more
    {
        margin: 7%;
        font-weight: bold;
    }

    .items-more:hover
    {
        color: #AED6F1;
    }

    #dropdown-colors
    {
        width: 63vw;
        height: 34vw;
    } 

    .open>.dropdown-menu 
    {
        display: block;
    }

    .color-box
    {
        border: 2px solid white;
        padding: 11px;
        margin: 7px;
        padding-top: 0px;
        padding-bottom: 8px;
        margin-left: 4px;
        display: inline;
    }
    
    .color-box:hover
    {
        border: 2px solid #AED6F1;
    }

    #black
    {
        background-color: black;
    }

    #gray
    {
        background-color: gray;
    }

    #dark-red
    {
        background-color: darkred;
    }

    #red
    {
        background-color: red;
    }

    #orange
    {
        background-color: orange;
    }

    #yellow
    {
        background-color: yellow;
    }

    #empty
    {
        border: none;
    }

    #white
    {
        background-color: white;
    }

    #purple
    {
        background-color: purple;
    }

    #dark-blue
    {
        background-color: darkblue;
    }

    #light-blue
    {
        background-color: blue;
    }

    #green
    {
        background-color: green;
    }